<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" [routerLink]="'/home'"><ion-icon slot="start" name="arrow-back-outline"></ion-icon>Regresar</ion-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="content">
    <ion-label>Titulo del evento</ion-label>

    <!--DESCRIPCION-->

  </div>

  <ion-label>{{eventId}}</ion-label>

</ion-content>
